body{
  background-color:black;
}
.file1{
  position:absolute;
  width:1350px;
  height:900px;
right:400px;
bottom:80px;
}
.file2{
  position:absolute;
  width:1350px;
  height:800px;
  left:450px;
right:400px;
bottom:120px;
}
.file3{
  position:absolute;
  width:1700px;
  height:1100px;
right:400px;
top:200px;
z-index:10;
}

.file4{
  position:absolute;
  width:1200px;
  height:800px;
  left:500px;
top:400px;
}

.file5{
  position:absolute;
  width:1200px;
  height:800px;
  top:0px;
left:200px;
z-index:15;
}
.file6{
  position:absolute;
  width:1200px;
  height:800px;
  top:600px;
  right:400px;
z-index:1;
}
.link1{
  position:absolute;
  width:200px;
  height:200px;
  top:330px;
  left:175px;
  z-index:20;
}
.link2{
  position:absolute;
  width:215px;
  height:210px;
  top:95px;
  left:425px;
  z-index:20;
}
.link3{
  position:absolute;
  width:280px;
  height:210px;
  top:1225px;
  left:145px;
  z-index:20;
}
