body{
  background-color:black;
  font-family: orbitron, sans-serif;
font-style: normal;
font-weight:300;
font-size:40px;
}

.frame{
  position:absolute;
  width:1400px;
  height:1500px;
  left:20px;
z-index:0;
}

.photo1{
  position:absolute;
  width:800px;
  height:500px;
  bottom:50px;
  right:720px;
  z-index:10;
}
.glass1{
  position:absolute;
  width:275px;
  height:435px;
  bottom:95px;
  right:980px;
  z-index:11;
}

.photo2{
  position:absolute;
  width:800px;
  height:500px;
  bottom:63px;
  right:390px;
}
.glass2{
  position:absolute;
  width:275px;
  height:435px;
  bottom:93px;
  right:585px;
  z-index:1;
}


.photo3{
  position:absolute;
  width:800px;
  height:500px;
  bottom:58px;
  left:730px;
}
.glass3{
  position:absolute;
  width:275px;
  height:435px;
  bottom:93px;
  left:985px;
  z-index:1;
}

.photo4{
  position:absolute;
  width:800px;
  height:500px;
  top:800px;
  right:675px;
}
.glass4{
  position:absolute;
  width:275px;
  height:435px;
  top:830px;
  right:980px;
  z-index:1;
}

.photo5{
  position:absolute;
  width:800px;
  height:500px;
  top:800px;
  right:280px;
}
.glass5{
  position:absolute;
  width:275px;
  height:435px;
  top:830px;
  right:583px;
  z-index:1;
}

.photo6{
  position:absolute;
  width:800px;
  height:500px;
  top:800px;
  right:-125px;
}
.glass6{
  position:absolute;
  width:275px;
  height:435px;
  top:830px;
  right:180px;
  z-index:1;
}

h1{
  position:absolute;
bottom:550px;
  left:540px;
  color:#182ec7;
  z-index:10;
}
